absl-py==1.2.0
addict==2.4.0
alabaster==0.7.12
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==22.1.0
autopep8==2.0.1
Babel==2.11.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach==5.0.1
brotlipy==0.7.0
cachetools==5.2.0
captum==0.6.0
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
chardet @ file:///tmp/build/80754af9/chardet_1607706768982/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==4.13.0
conda-build==3.21.9
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1649105789509/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652083456434/work
cycler==0.11.0
debugpy==1.6.3
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
dgl-cu113==0.9.1.post1
dglgo==0.0.2
docutils==0.19
entrypoints==0.4
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
fonttools==4.38.0
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth==2.11.0
google-auth-oauthlib==0.4.6
grpcio==1.47.0
huggingface-hub==0.11.1
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipykernel==6.4.2
ipython @ file:///tmp/abs_94gruux8u8/croots/recipe/ipython_1659529858706/work
ipython-genutils==0.2.0
isort==5.11.2
jedi @ file:///tmp/build/80754af9/jedi_1644299024593/work
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonschema==4.14.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab==2.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
kiwisolver==1.4.4
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
littleutils==0.2.2
Markdown==3.4.1
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528142364/work
matplotlib==3.5.3
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mmcv-full==1.6.1
nbclient==0.5.13
nbconvert==6.1.0
nbformat==5.0.8
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.2
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1651563629415/work
numpydoc==1.5.0
oauthlib==3.2.0
ogb==1.3.5
opencv-python==4.2.0.34
outdated==0.2.2
packaging==22.0
pandas==1.3.5
pandocfilters==1.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo @ file:///tmp/build/80754af9/pkginfo_1643162084911/work
pkgutil_resolve_name==1.3.10
prometheus-client==0.14.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
psutil @ file:///tmp/build/80754af9/psutil_1612298016854/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.10.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.2
Pygments==2.13.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil==2.8.2
pytz @ file:///opt/conda/conda-bld/pytz_1654762638606/work
PyYAML==6.0
pyzmq==23.2.1
rdkit-pypi==2022.9.3
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016701961/work
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
snowballstemmer==2.2.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
terminado==0.15.0
terminaltables==3.1.10
testpath==0.6.0
threadpoolctl==3.1.0
timm==0.6.12
tomli==2.0.1
torch==1.12.1
torch-cluster @ file:///code/torch_cluster-1.6.0%2Bpt112cu113-cp37-cp37m-linux_x86_64.whl
torch-geometric==2.3.1
torch-scatter @ file:///code/torch_scatter-2.0.9-cp37-cp37m-linux_x86_64.whl
torch-sparse @ file:///code/torch_sparse-0.6.15%2Bpt112cu113-cp37-cp37m-linux_x86_64.whl
torchmetrics==0.11.4
torchtext==0.13.1
torchvision==0.13.1
tornado==6.2
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typer==0.7.0
typing_extensions @ file:///tmp/abs_ben9emwtky/croots/recipe/typing_extensions_1659638822008/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.0.1
yapf==0.32.0
zipp==3.8.1
